.error-message
{
    color:red;
    padding-top:2px;
}
.error-message ul
{
    list-style: none;
    padding-left: 0;
}
.form-group.required label:after {
  content:" *";
  color:red;
}
.pagination-counter p
{
    margin-top: 8px;
    margin-right: 10px;
}
.mar5
{
 margin:5px;
}
.mr-10
{
 margin-right:10px;
}
.btn-fb {
    color: #fff;
    background-color: #3b5998;
}
.btn-fb:hover {
    color: #fff;
    background-color: #496ebc;
}
.btn-tw {
    color: #fff;
    background-color: #55acee;
}
.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}
.social-buttons a {
    width: 49%;
}
